@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  inline-size: 90%;
  block-size: 70px;
  margin-block-start: 0%;
  margin-inline-start: 5%;
  margin-inline-end: 10%;
  padding-inline:5px;
  inset-block-start: 0;
  border-block-end: 5px solid black;
  display:grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index:100;
  }

  .nav-bar > p {
  font-size: 40px;
  font-weight: 600;
  }

  .links {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    line-height: 2.5;
  }

  .anchor-link {
    width:0;
    visibility: hidden;
  }

.lang-link {
  line-height: 2.5;
}

  .links > a {
    text-decoration: none;
    color: black;
    border-radius: 20%;
    transition: 300ms;
    margin-left:5px;
  }
  h1 {
    margin-block-start: 2em;
    margin-inline-start: 0.5em;
    font-size: 55px;
  }

  #heyo{
    font-size: 90px;
  }
  
  .intro {
    margin-block-start: 5em;
    background-image: url("/images/space.jpg");
    background-size: cover;
    color: whitesmoke;
  }
  
  .intro > h2 {
    padding: 1.5rem;
    font-size: 36px;
  }

  .intro > * {
    margin-inline-start: 0.5em;
  }
  
  .intro-content {
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
  }

  #img-me {
    max-inline-size: 400px;
    max-block-size: 400px;
    padding-inline-end: 30px;
    margin-block-end: 30px;
    position: relative;
    inset-inline-start: 2em;
  }

.intro-content > div > p {
  position: relative;
  margin-inline: 0.5rem;
  margin-block-end: 2rem;
  margin-block-start: 0px;
  min-inline-size: 300px;
  line-height: 2;

}

.projects-div {
  display: flex;
  flex-wrap: wrap;
}

.projects-div > h2 {
  margin-block: 40px;
  margin-inline-start: 28px;
  inline-size: 100%;
  font-size: 50px;
}

.projects-div > div {
inline-size: 100%;
margin-inline-start: 0px;
border: 5px solid black;
border-radius: 10px;
margin-block: 20px;
}

.projects-div > div > h3 {
  font-size: 36px;
  margin-inline-start: 28px;
}

.project-inner-content {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
  font-size: 25px;
}

.project-inner-content > p {
  align-self: center;
  font-size: 20px;
  padding-inline: 15px;
}

.project-inner-content > img {
  inline-size: 100%;
}

.project-links {
  width: 100%;
  display: flex;
  justify-content:space-around;
}
.project-links > a {
  margin: 10px;
  text-decoration: none;
}

.project-links > a > img {
  height: 48px;

}

.project-portfolio {
  background-image: url("/images/space.jpg");
  color:whitesmoke;
}

.project-pet {
  background-image: url("/images/space.jpg");
  color:whitesmoke;
}

.project-music {
  background-image: url("/images/space.jpg");
  color:whitesmoke;
}

.contact-form > h2 {
  margin-block: 40px;
  margin-inline-start: 30px;
  font-size: 50px;
}

.contact-link-container {
  display: flex;
  justify-content: center;
}
.contact-link-container > a > img {
  inline-size: 100px;
  padding: 30px;
}


form { 
  max-inline-size:  700px; 
  margin-block-start: 5rem;
  margin-block-end: 10rem;
  padding-inline: 15px;
}

form > label {
  font-size: 25px ;
}

.feedback-input {
  color: black;
  font-size: 30px;
  border-radius: 5px;
  line-height: 1;
  background-color: transparent;
  border:2px solid black;
  border-radius: 5px;
  transition: all 0.3s;
  padding: 1.5rem;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
}

.feedback-input:focus { 
  border:6px solid  black; 
}

textarea {
  height: 10rem;
  line-height: 150%;
  resize: vertical;
  font: inherit;
}

[type="submit"] {
  width: 100%;
  background-image: url("/images/space.jpg");
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top:-0.5rem;
}

[type="submit"]:hover { 
  background: grey; 
}

footer {
  background-image: url("/images/space.jpg");
  color: whitesmoke;
  display: grid;
  justify-content: center;
  text-align: center;
}

footer > h4 {
  padding-block-start: 10px;
}
.credits {
  padding: 40px;
  line-height: 3;
}
.credits > ul {
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width: 900px) {
  
  .nav-bar {
    position: fixed;
  }

.anchor-link {
  width: auto;
  visibility: visible;
}

.links > a:after {
  content: '';
  width: 0px;
  height: 5px;
  display: block;
  position: relative;
  inset-inline-start: 50%;
  z-index: -1;
  background-color: black;
  transform: translate(-50%, -55px);
  transition: 300ms;
}

.links > a:hover:after {
  width: 100%;
}

.links > a:before {
  content: '';
  width: 0px;
  height: 5px;
  display: block;
  position: relative;
  inset-inline-start: 50%;
  z-index: -1;
  background-image: url("/images/jaggedrocks.avif");
  transform: translate(-50%, 55px);
  transition: 300ms;
}

.links > a:hover:before {
  width: 100%;
}


  h1 {
    margin-inline-start: 100px;
  }

.intro > h2 {
  margin-inline-start: 100px;
}

  .intro-content {
    flex-wrap: nowrap;
    margin-inline-start: 100px;
  }

  .intro-content div > p {
    margin-inline-start: 100px;
  }

  .projects-div {
    margin-inline: 50px;
    justify-content: center;
  }

  .projects-div > h2 {
    text-align: center;
  }
  .projects-div > div {
    max-width: 1300px;
  }

  .projects-div > div > h3 {
    margin-inline-start: 40px;
    margin-block-start: 30px;
  }

  .project-inner-content {
    flex-wrap: nowrap;
  }
  .project-inner-content > img {
    max-inline-size: 300px;
    margin: 40px;
  }

  .project-links {
    flex-direction: column;
    width: min-content;
    justify-content:space-around;
  }
  .project-links > a {
    position: relative;
    padding-inline: 5px;
    height: min-content;
  }

  .contact-form > h2 {
    margin-inline: auto;
    text-align: center;
  }

  form {
    margin-inline: auto;
  }
}