@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  inline-size: 90%;
  block-size: 9%;
  margin-block-start: 0%;
  margin-inline-start: 5%;
  margin-inline-end: 10%;
  inset-block-start: 0;
  border-block-end: 5px solid black;
  display:grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.489);
  z-index:100;
  }

  .nav-bar > p {
  font-size: 40px;
  }

  .links {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    line-height: 3;
  }

  .links > a {
    text-decoration: none;
    color: black;
    border-radius: 20%;
    transition: 300ms;
  }

  a:after {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    position: relative;
    inset-inline-start: 50%;
    z-index: -1;
    background-image: url("/images/jaggedrocks.avif");
    transform: translate(-50%, -55px);
    transition: 300ms;
  }
  
  a:hover:after {
    width: 100%;
  }

  a:before {
    content: '';
    width: 0px;
    height: 5px;
    display: block;
    position: relative;
    inset-inline-start: 50%;
    z-index: -1;
    background-image: url("/images/jaggedrocks.avif");
    transform: translate(-50%, 55px);
    transition: 300ms;
  }
  
  a:hover:before {
    width: 100%;
  }

  h1 {
    margin-block-start: 2em;
    margin-inline-start: 0.5em;
    font-size: 55px;
    background-image: url("/images/jaggedrocks.avif");
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  #heyo{
    font-size: 90px;
  }
  
  .intro {
    margin-block-start: 5em;
    background-image: url("/images/space.jpg");
    color: whitesmoke;
  }
  
  .intro > h2 {
    padding: 1.5rem;
    font-size: 36px;
  }

  .intro > * {
    margin-inline-start: 0.5em;
  }
  
  .intro-content {
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
  }

  #img-me {
    max-inline-size: 400px;
    max-block-size: 400px;
    padding-inline-end: 30px;
    margin-block-end: 30px;
    position: relative;
    inset-inline-start: 2em;
  }

.intro-content > p {
  position: relative;
  margin-inline: 0.5rem;
  margin-block-start: 3rem;
  margin-block-end: 5rem;
  min-inline-size: 300px;

}

@media screen and (min-width: 500px) {

  h1 {
    margin-inline-start: 100px;
  }

.intro > h2 {
  margin-inline-start: 100px;
}

  .intro-content {
    flex-wrap: nowrap;
    margin-inline-start: 100px;
  }

  .intro-content > p {
    margin-inline-start: 100px;
    margin-block-start: 100px;
  }
}